__pycache__/
logtest/
playground/
*.pyc
*.DS_Store
.idea/
frontenddev/
*~
build
.coverage
dist
django_automated_logging.egg-info
docs/_build
logtest/db.sqlite3
htmlcov
.tox
node_modules
.venv/
todo
tmp/
poetry.lock